<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Categorias</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h2 class="h2 border-left pl-2">Categorias</h2>
  </div>
  <div class="col-md text-right">
    <a
      name="plusCategory"
      class="btn btn-success"
      routerLink="new"
      role="button"
      >+ Nova Categoria</a
    >
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Categorias</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of categories">
      <td scope="row">
        <strong>{{ cat.name }}</strong>
        <br />
        <small>{{ cat.description }}</small>
      </td>
      <td>
        <a [routerLink]="[cat.id]" class="btn btn-outline-info btn-sm mr-2"
          >Editar</a
        >
        <a (click)="deleteCategory(cat)" class="btn btn-outline-danger btn-sm"
          >Delete</a
        >
      </td>
    </tr>
  </tbody>
</table>
